<div class="container">
    <h3 class="text-primary">My Courses</h3>
    <h4 class="text-uppercase">Total Credits: 0</h4>
    <div class="col-12 vspace" *ngFor="let myCourse of myCourses; let i = index">
        <h5 class="clickable" (click)="removeCourse(i)"> {{ myCourse.title }} </h5>
        <p class="small">{{ myCourse.getDays() }} {{ myCourse.startTime }} to {{ myCourse.endTime }} - {{ myCourse.credits }} credits</p>
    </div>
</div>
<hr>
<div class="container">
    <h3 class="text-primary">Available Courses</h3>
    <div class="col-12 vspace" *ngFor="let course of allCourses; let i = index">
        <h5 class="clickable" (click)="addCourse(i)">{{ course.title }}</h5>
        <p class="small">{{ course.getDays() }} {{ course.startTime }} to {{ course.endTime }} - {{ course.credits }} credits</p>
    </div>
</div>