<div class="container">
    <h3 class="text-primary">My Courses</h3>
    <h4 class="text-uppercase">Total Credits: 0</h4>
    <div class="col-12 vspace">
        <h5 class="clickable">LC101 Intro to Web Development</h5>
        <p class="small">Mon/Wed 5:30 PM to 8:30 PM - 6 credits</p>
    </div>
</div>
<hr>
<div class="container">
    <h3 class="text-primary">Available Courses</h3>
    <div class="col-12 vspace">
        <h5 class="clickable">LC101 Intro to Web Development</h5>
        <p class="small">Mon/Wed 5:30 PM to 8:30 PM - 6 credits</p>
    </div>
</div>